In [37]:
import pandas as pd
import numpy as np
import os
import pickle
import torch
import string
from functools import reduce
pd.set_option('display.max_colwidth', 500)

import tqdm

In [8]:
graph_df = pd.read_csv("../data/neeg/data2.csv", names=["graph_id", "word_id", "score"], sep=' ')
word_encodings_df = pd.read_csv("../data/neeg/encoding_with_args.csv", names=["encoding", "word"], sep=' ')

In [9]:
graph_df.head(5)

   graph_id  word_id     score
0         0    14540  0.090909
1         0    21575  0.090909
2         0    23798  0.090909
3         0    46676  0.090909
4         0    70381  0.090909

In [10]:
word_encodings_df = word_encodings_df.set_index('encoding')

In [11]:
word_encodings_df.head(5)

                      word
encoding
0          --including_obj
1         --including_subj
2                  70s_obj
3                 70s_subj
4              ACT_prep_on

In [12]:
graph_df.merge(word_encodings_df, left_on="word_id", right_on="encoding", how='left')

         graph_id  word_id     score  encoding              word
0               0    14540  0.090909     14540    announced_subj
1               0    21575  0.090909     21575     burdened_subj
2               0    23798  0.090909     23798       charged_obj
3               0    46676  0.090909     46676       giving_subj
4               0    70381  0.090909     70381     produced_subj
5               0    77369  0.090909     77369      replaced_obj
6               0    80777  0.181818     80777            s_subj
7               0    82944  0.090909     82944         sell_subj
8               0    88537  0.090909     88537        spent_subj
9               0   104581  0.090909    104581        wrote_subj
10              1        1  0.454545         1  --including_subj
11              1    22274  0.090909     22274         calm_subj
12              1    39285  0.181818     39285       ensure_subj
13              1    76435  0.090909     76435      release_subj
14              1    76625  0.090909     76625      relying_subj
15              1    93452  0.090909     93452     suspected_obj
16              2        2  0.428571         2           70s_obj
17              2     8714  0.071429      8714         Root_subj
18              2     9404  0.071429      9404         Show_subj
19              2    13288  0.071429     13288         adds_subj
20              2    23438  0.071429     23438   celebrates_subj
21              2    24606  0.071429     24606   chronicles_subj
22              2    42689  0.071429     42689        filled_obj
23              2    54119  0.071429     54119           is_subj
24              2   101909  0.071429    101909          want_obj
25              3        2  0.100000         2           70s_obj
26              3        3  0.200000         3          70s_subj
27              3    17317  0.100000     17317           be_subj
28              3    42887  0.100000     42887         find_subj
29              3    53739  0.100000     53739  introducing_subj
...           ...      ...       ...       ...               ...
6187016    104938    73673  0.028571     73673        reach_subj
6187017    104938    74872  0.028571     74872       record_subj
6187018    104938    79299  0.028571     79299        ridden_obj
6187019    104938    79660  0.057143     79660       rising_subj
6187020    104938    86264  0.028571     86264     sleeping_subj
6187021    104938    88469  0.028571     88469        spend_subj
6187022    104938    89120  0.028571     89120      sprayed_subj
6187023    104938    90407  0.028571     90407         stay_subj
6187024    104938    97532  0.028571     97532       trades_subj
6187025    104938    99343  0.028571     99343     undercut_subj
6187026    104938   101780  0.028571    101780        walks_subj
6187027    104938   103812  0.028571    103812    wondering_subj
6187028    104938   104938  0.057143    104938      zooming_subj
6187029    104939   103081  1.000000    103081    whisks+off_obj
6187030    104940    12821  0.052632     12821       accused_obj
6187031    104940    14797  0.105263     14797      appears_subj
6187032    104940    20722  0.052632     20722       brings_subj
6187033    104940    42590  0.052632     42590         file_subj
6187034    104940    44865  0.052632     44865        forms_subj
6187035    104940    45678  0.052632     45678      furnish_subj
6187036    104940    50842  0.052632     50842  hopscotched_subj
6187037    104940    54119  0.105263     54119           is_subj
6187038    104940    56753  0.052632     56753       leaves_subj
6187039    104940    59760  0.052632     59760    marketing_subj
6187040    104940    74893  0.105263     74893      records_subj
6187041    104940    76276  0.052632     76276      rejoice_subj
6187042    104940    80580  0.052632     80580          run_subj
6187043    104940    84806  0.052632     84806        shows_subj
6187044    104940    93330  0.052632     93330     surprised_obj
6187045    104940   104091  0.052632    104091         worry_obj

[6187046 rows x 5 columns]

In [13]:
with open("../data/neeg/corpus_index_train0_with_args_all.data", 'rb') as f:
    data = pickle.load(f)

In [14]:
unk, tokens, corr = data

In [15]:
df = pd.DataFrame.from_dict({'embeddings':tokens, 'correct':corr})

In [16]:
df['np_embeddings'] = df.embeddings.apply(np.array)
df['sents'] = df.np_embeddings.apply(lambda s: list(map(lambda x: word_encodings_df.loc[x].word if x in word_encodings_df.index else '', s)))
df['sents'] = df['sents'].apply(lambda s: ['' if isinstance(x, float) or x is None else x for x in s])

In [44]:
def readable_chain(chain_list, pretty_print=False):
    #correspondences = zip(chain_list[:13], chain_list[13:26], chain_list[26:39], chain_list[39:52])
    #Convert from V S O P to S V O P
    quadruples = zip(chain_list[13:26], chain_list[:13], chain_list[26:39], chain_list[39:52])
    sents = [quad_to_clean_sents(qd) for qd in quadruples]
    chain = sents[:-5]
    candidates = sents[-5:]
    if pretty_print:
        for i, s in enumerate(chain):
            s = filter(lambda q: q != '', s)
            print(i, ' '.join(s))
        print('')
        for a, s in zip(string.ascii_lowercase, candidates):
            s = filter(lambda q: q != '', s)
            print("%s) %s"%(a, ' '.join(s)))
    return {'chain':chain, 'candidates':candidates}    
def quad_to_clean_sents(quadruple):
    quadruple = ['' if w == '--including_obj' else w for w in quadruple]
    quadruple = [w.split('_subj')[0] if w.endswith('_subj')  else w for w in quadruple]
    quadruple = [w.split('_obj')[0] if w.endswith('_obj')  else w for w in quadruple]
    quadruple = [w.replace('+', ' ') for w in quadruple]
    quadruple = [w.replace('+', ' ') for w in quadruple]
    quadruple = [w.replace('_prep_', ' ') for w in quadruple]
    #quadruple = filter(lambda q: q != '', quadruple)
    return quadruple
    
    
with open('dataset/neeg.pickle', 'wb') as f:
    for i in tqdm.trange(len(df.index)):
        chain_dict = readable_chain(df.sents.loc[i])
        chain_dict['correct'] = int(df.correct.loc[i])
        pickle.dump(chain_dict, f)

100%|██████████| 140331/140331 [00:20<00:00, 6841.29it/s]